.app {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.app:after {
  content: " ";
  display: block;
  clear: both;
}

.app.vui-gs-debug {
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 70%, transparent 70%);
  background-size: 8.54701%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}

.app * {
  box-sizing: border-box;
}

.header {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: rgba(0, 0, 250, 0.4);
  height: 60px;
}

.stuff-1a {
  width: 31.62393%;
  float: left;
  margin-right: 2.5641%;
  background-color: rgba(250, 0, 0, 0.4);
  height: 60px;
}

[dir='rtl'] .stuff-1a {
  width: 31.62393%;
  float: right;
  margin-left: 2.5641%;
  margin-right: 0;
}

.stuff-1b {
  width: 31.62393%;
  float: left;
  margin-right: 2.5641%;
  background-color: rgba(250, 0, 0, 0.4);
  height: 60px;
}

[dir='rtl'] .stuff-1b {
  width: 31.62393%;
  float: right;
  margin-left: 2.5641%;
  margin-right: 0;
}

.stuff-1c {
  width: 31.62393%;
  float: right;
  margin-right: 0;
  background-color: rgba(250, 0, 0, 0.4);
  height: 60px;
}

[dir='rtl'] .stuff-1c {
  width: 31.62393%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.stuff-2a {
  width: 34.18803%;
  float: left;
  background-color: rgba(250, 250, 0, 0.4);
  height: 60px;
}

[dir='rtl'] .stuff-2a {
  width: 34.18803%;
  float: right;
  margin-right: 0;
}

.stuff-2b {
  width: 65.81197%;
  float: right;
  margin-right: 0;
  background-color: rgba(0, 250, 250, 0.4);
  height: 60px;
}

[dir='rtl'] .stuff-2b {
  width: 65.81197%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.stuff-3a {
  width: 31.62393%;
  float: left;
  background-color: rgba(102, 0, 102, 0.4);
  height: 60px;
}

[dir='rtl'] .stuff-3a {
  width: 31.62393%;
  float: right;
  margin-right: 0;
}

.stuff-3b {
  width: 36.75214%;
  float: left;
  background-color: rgba(0, 250, 0, 0.4);
  height: 60px;
}

[dir='rtl'] .stuff-3b {
  width: 36.75214%;
  float: right;
  margin-right: 0;
}

.stuff-3c {
  width: 31.62393%;
  float: right;
  margin-right: 0;
  background-color: rgba(102, 0, 102, 0.4);
  height: 60px;
}

[dir='rtl'] .stuff-3c {
  width: 31.62393%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
